/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.job_read_full {
	cursor: pointer;
}
.job_apply {
	cursor: pointer;
}
.greenhouse-job-board[data-type="accordion"] .job_description {
	display: none;	
}

.greenhouse-job-board .field_wrap {
	margin: 0 0 1em;
}
.greenhouse-job-board .field_wrap input[type="file"] {
	background: none; 
	border: 0;
}
.greenhouse-job-board .field_wrap.field_required label:after {
	content: ' *';
}