/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 *
 * @since      2.7.0
 */

.job_read_full {
	cursor: pointer;
}
.job_apply {
	cursor: pointer;
}
.greenhouse-job-board[data-type="accordion"] .job_description {
	display: none;	
}

.greenhouse-job-board[data-type="cycle"] .all_jobs {
	overflow: hidden;
}

.greenhouse-job-board .field_wrap {
	margin: 0 0 1em;
}
.greenhouse-job-board .field_wrap input[type="file"] {
	background: none; 
	border: 0;
}
.greenhouse-job-board .field_wrap.field_required label:after {
	content: ' *';
}

#apply_form.invalid .field_required input:invalid {
	border: 1px solid red;
}
.apply_ty,
.apply_error {
	display: none;
}
.cycle-slide-active .apply_ty {
	display:block;
}
.greehouse-job-board div[class*="field_demographics"] input[type="checkbox"] {
	margin-right: 10px;
}